/* Authors: "Sea Depths" CSS Zen Garden project by Timothy Bohman. Former team members with whom the site theme and overall look were chosen: Ella Galbraith (contributed the initial design on which this project is based) and Kevin Kirby. */

@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$fonts-headline: Dangrek, "Arial Narrow", Arial, Verdana, sans-serif;
$fonts-body: Karla, Verdana, Arial, sans-serif;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #000;
$text-light: #fff;
$dark-purple: #8a007e;
$background-color1: #D9F0FF;
$background-color2: #427AA1;
$background-color3: #064789;
$background-color4: #FFD6BA;
$heading-background-color1: #ac9dffe3;
$heading-background-color2: #60ffbde3;
$heading-background-color3: #ff8383e3;
$sun-color: #FFCD19;
$example-files-background-color: #ffcd1960;
$cloud-color: #f2f2f2;
$fish-color: #FF4C00;
$bubble-color: #379FBD;
$red-text-shadow: #ee0000;
$text-body-size: 20px;
$text-area-width: 40em;
$heading1-size: 2.75rem;
$heading2-size: 2rem;
$heading2-size-smallest-screen: 1.8rem;
$heading3-size: 2.25rem;
$heading3-size-smallest-screen: 1.8rem;
$heading4-size: 1.5rem;
$heading-sidebar-size: 1.25rem;
$sidebar-font-size: 0.8rem;
$underline-border-light: rgba(255, 255, 255, 0.5);
$underline-border-dark: rgba(0, 0, 0, 0.5);
$smallest-screen-width: 320px;
$small-medium-screen-width: 520px;
$wide-screen-width: 816px;
